* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header-block {
    margin: 0 auto;
    width: 99vw;
    background-color: #b2b2b2;
    border-radius: 7px;
    text-align: center;
}

.header-lable {
    padding: 20px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}

.main_container {
    margin: 0 auto;
    margin-top: 300px;
    padding: 20px 20px 20px 20px;
    height: 250px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 5px 5px 12px 1px rgba(0, 0, 255, .2);
}

.border_container {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.nav_bar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.nav_bar ul li {
    margin-left: 10px;
    list-style-type: none;
    cursor: pointer;
}

.right_side_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
}

.right_side_inputs input {
    height: 30px;
    border-radius: 7px;
    outline: 0;
    outline-offset: 0;
}

.home_button {
    padding: 0;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid black;
    background: white;
    cursor: pointer;

    transition-duration: 0.4s;
}

.home_button:hover {
    background-color: #b2b2b2; /* Green */
    color: white;
}

.footer-block {
    position: absolute;
    bottom: 0;
    width: 99vh;
    background-color: #b2b2b2;
    border-radius: 7px;
    text-align: center;
}

.footers-lable {
    padding: 20px;
}