* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Start of the header*/

.header {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .1);
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.logo {
    margin: 20px 0 20px 0;
}

.navbar {
    width: 30%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar ul li {
    margin-top: 35px;
    height: 60px;
    transition-duration: 0.4s
}

.navbar ul li:hover {
    border-bottom: 4px solid #000000;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Bebas Neue Cyrillic", sans-serif;;
    font-size: 27px;
    letter-spacing: 1px;
    color: #000000;
}

/*End of the header*/

/*Start of main container*/

.main-container {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1200px;
}

    /*Start of slider*/

.slider-hub {
    width: 1200px;
    height: 628px;
    border-radius: 21px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .2);
}

.slides {
    display: flex;
    width: 500%;
}

.slides__buttons {
    display: none;
}

.slides__image {
    width: 20%;
    transition: 1.7s;
}

        /*Start of blanck sliding*/

.slides__nav-auto {
    display: flex;
    position: absolute;
    width: 1200px;
    justify-content: center;
    margin-top: 592px;
}

.slides__nav-auto div {
    border: 3px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

.slides__nav-auto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked ~ .slides__nav-auto .auto-btn1 {
    background-color: #ffffff;
}

#radio2:checked ~ .slides__nav-auto .auto-btn2 {
    background-color: #ffffff;
}

#radio3:checked ~ .slides__nav-auto .auto-btn3 {
    background-color: #ffffff;
}

        /*End of blanck sliding*/

        /*Start of manual navigation*/

.nav-manual {
    display: flex;
    position: absolute;
    width: 1200px;
    margin-top: -40px;
    justify-content: center;
}

.nav-manual__btn {
    border: 3px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-manual__btn:hover {
    background-color: #ffffff;
}

.nav-manual__btn:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

        /*End of manual navigation*/

    /*End of slider*/

.popular-items {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 40px;
}

.item-list__item {
    width: 275px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .1);
}

.item-list__item img {
    padding-top: 25px;
}

.item-list__item a {
    font-size: 24px;
    font-family: "Bebas Neue Cyrillic", sans-serif;;
    text-decoration: none;
    color: black;
}

.item-list__item a:hover {
    color: #21bce1;
    text-decoration: underline;
}

.item-list__item p {
    padding-top: 10px;
}

.item-list__item h5 {
    padding: 5px 0 20px 0;
    font-size: 20px;
}
/*End of main container*/